.header-main-footer-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.header-main-footer-header {
  grid-area: header;
  background-color: rgb(133, 128, 235);
}
.main-nav {
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: 
    "Details About logo Contacts Artwork";
}

@media (max-width: 580px) {
  .main-nav{
    grid-template-areas: 
      "logo logo logo logo"
      "Details About Contacts Artwork";
  }
}

.nav-link-logo {
  grid-area: logo;
}

@media (max-width: 580px) {
  .nav-link-logo {
    justify-content: center;
  }
}

.nav-link-1 {
  grid-area: Details;
}

.nav-link-2 {
  grid-area: About;
}

.nav-link-3 {
  grid-area: Contacts;
}

.nav-link-4 {
  grid-area: Artwork;
}

.header-main-footer-main {
  grid-area: main;
  background-color: rgb(84, 22, 239);
}

.header-main-footer-footer {
  grid-area: footer;
  background-color: rgb(133, 128, 235);
  padding-top: 125px;
}

img{ 
  max-width: 100%;
}

.double-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.25rem;
  list-style-type: none;
  padding-left: 0;
}

.double-gallery-grid a {
  display: flex;
}

.double-gallery-grid a:hover {
  filter: grayscale(1);
}

@media (min-width: 1000px) {
  .double-gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.overlay-wrapper {
  position: relative;
  max-width: 350px;
  display: flex;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(127, 17, 224, .25);
}


.overlay-content:hover {
  opacity: 1;
}