.header-main-footer-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

.header-main-footer-header {
  grid-area: header;
  background-color: #121212;
}
.main-nav {
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: 
    "Photography Contacts logo About Me Artwork";
    
}

@media (max-width: 580px) {
  .main-nav{
    grid-template-areas: 
      "logo logo logo logo"
      "Photography Contacts logo About Me Artwork";
  }
}

.nav-link-logo {
  grid-area: logo;
}

@media (max-width: 580px) {
  .nav-link-logo {
  }
}

.nav-link-1 {
  grid-area: Photography;
  font-size: 30px;
}

.nav-link-2 {
  grid-area: Contacts;
  font-size: 30px;

}

.nav-link-3 {
  grid-area: About Me;
  font-size: 30px;


}

.nav-link-4 {
  grid-area: Artwork;
  font-size: 30px;

}

.header-main-footer-main {
  grid-area: main;
  background-color: #dfbf56;
}

.header-main-footer-footer {
  grid-area: footer;
  padding-top: 125px;
  background-color: #121212
}

img{ 
  max-width: 100%;
}

.double-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.25rem;
  list-style-type: none;
  padding-left: 0;
}

.double-gallery-grid a {
  display: flex;
}

.double-gallery-grid a:hover {
  filter: grayscale(.2);
}

@media (min-width: 1000px) {
  .double-gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.overlay-wrapper {
  position: relative;
  max-width: 800px;
  display: flex;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #3c013c;
  opacity: 0;
  background-color: rgba(200, 142, 255, 0.749);
  color: #f1e900f1;
}


.overlay-content:hover {
  opacity: 1;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(0, 0, 0); }
form { max-width:420px; margin:50px auto; }


.form-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffeded;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  justify-content: center;
}

.form:focus { border:2px solid #ffffff; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(137, 137, 137);
  padding-left: 15px 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  margin: 4px 2px;
  cursor: crosshair;
  border-width: 5px;
}


@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
  
}
 

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff1212;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


.container { 
padding-top: 60px;
display: flex;
justify-content: center;
align-items: center;
color: #ffeded;
max-width: 100%;
}

.form-note {text-align: center;
padding-top: 20px;}

a:link {
  color: goldenrod;
}

/* visited link */
a:visited {
  color: rgb(45, 192, 0);
}

/* mouse over link */
a:hover {
  color: gold;
}

/* selected link */
a:active {
  color: blue;
}

.contact-info {
  color: #ffeded;
padding-bottom: 50px;
text-align: center;
font-size: 18px;
border-width: 2px;
}